{% load static %}
<html>
<head>
<link rel="stylesheet" href="{% static 'css/Style_checkout.css' %} ">
</head>
<body>
<center style="padding-top:170px;">
<div class="col-25" style="width:400px;">
<div class="container" style="color:white">
    <p>Click on the reset button to reset the form.</p>
        <form method="post">
            {% csrf_token %}
          <label for="email">Enter your email:</label>
          <input type="email" id="email" name="email"><br><br>
          <input type="reset" value="Reset">
            <a href="/"><input type="submit" value="Home"> </a>
          <input type="submit" value="Request Password Reset">
        </form>
</div>
</div>
</center>
</body>
</html>
