{% load static %}
<html>
<head>
<link rel="stylesheet" href="{% static 'css/Style_checkout.css' %} ">
</head>
<body>
<center style="padding-top:170px;">
<div class="col-25" style="width:400px;">
<div class="container" style="color:white">
    <p>Enter your New Password</p>
        <form method="post" action="">
            {% csrf_token %}
              <label for="setpassword">Enter New Password:</label>
              <input type="password" id="setpassword" name="email"><br><br>
              <label for="con_setpassword">Confirm New Password:</label>
              <input type="password" id="con_setpassword" name="con_setpassword"><br><br>
              <button class="btn btn-outline-info" type="submit"> Reset Password</button>
        </form>
</div>
</div>
</center>
</body>
</html>
